*{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header area. None of this seems to be working.
Come back to it. */

header{
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  justify-content: space-between;
  flex: 15 15 auto;
  z-index: 10;
}

header img{
  left: 10px;
  height: 50px;
}

nav{
  display: inline-flex;
  text-decoration: underline;
  justify-content: space-around;
}

nav a{
  display: inline-block;
  margin: 0px 14px;
}

/* Mission area */

#mission{
  display: flex;
  position: relative;
  top: 69px;
  background-image: url("../images/img-mission-background.jpg");
  min-height: 700px;
  min-width: 1000px;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  flex: 10 10 auto;
}

#text h2{
  font-size: 34px;
}

#text h2, h4{
  margin: 10px 100px;
}

/* Tea area */

/*#tea{
  position: relative;
  top: 69px;
  width: 1000px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#tea h2{
  font-size: 34px;
}

#tea img{
  width: 300px;
  height: 200px;
  margin: auto 15px;
}

#tea p{
  margin: 10px auto;
}*/
