*{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

h2{
  font-size: 34px;
}

h3{
  font-size: 26px;
}

h5{
  font-size: 18px;
}

/* Header area */

header{
  display: flex;
  position: fixed;
  top: 0px;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  justify-content: space-between;
  flex: 15 15 auto;
  z-index: 10;
}

header img{
  left: 10px;
  height: 50px;
}

nav{
  display: inline-flex;
  text-decoration: underline;
  justify-content: space-around;
}

nav a{
  display: inline-block;
  margin: 0px 14px;
}

/* Mission area */

#mission{
  display: flex;
  position: relative;
  padding-top: 69px;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  min-width: 1000px;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  flex: 10 10 auto;
}

#text h2, h4{
  margin: 10px 100px;
}

/* Tea area */

#tea{
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 69px;
  padding-bottom: 50px;
  left: 100px;
  flex: 5 5 auto;
}

#tea h2{
  margin: 0px auto;
}

#teatypes{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  left: 100px;
  flex: 5 5 auto;
}

#teatypes img{
  width: 300px;
  height: 200px;
  margin: auto 15px;
}

#teatypes p{
  margin: 10px auto;
}

/* Location area */

#loc{
  background-image:url("../images/img-locations-background.jpg");
  height: 500px;
  min-width: 1000px;
  max-width: 1200px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  flex: 5 5 auto;
}

#loc h2{
  display: block;
  background: none;
  margin-bottom: 15px;
}

#locbox{
  display: inline-flex;
  flex-direction: row;
  background: none;
  max-height: 300px;
  max-width: 1000px;
  flex: 5 5 auto;
}

#locbox p{
  margin: 40px auto;
}

#downtown, #bayside, #oakdale{
  background-color: black;
  height: 300px;
  width: 300px;
  opacity: 1;
  margin: 10px 20px;
  align-items: center;
}

/* Contact area */

#contact{
  display: flex;
  min-height: 200px;
  min-width: 1000px;
  flex-direction: column;
  position: relative;
  flex: 5 5 auto;
}

#contact h5{
  margin: 15px auto;
}

/* Footer area */

footer{
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  position: relative;
  flex: 5 5 auto;
}
